{% extends "base.html" %}

{% block title %}Аренда автомобиля{% endblock %}

{% block content %}

    <div class="content-container">
        <div class="content">
            <h2>Аренда автомобиля</h2>
            
            <form action="" method="post" class="rent-form">
                {{ form.hidden_tag() }}
                
                <div class="form-group">
                    <label for="{{ form.cars.id }}">Выберите автомобиль</label><br>
                    <div class="custom-select">
                        {{ form.cars }}
                    </div>
                    {% for error in form.cars.errors %}
                        <span class="error-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                
                <p>
                    {{ form.submit(class="btn btn-primary") }}
                </p>
            </form>
        </div>
    </div>

{% endblock %}